/*script heavily sourced externaly
*/
h2 {
    font-size: 18px ;
    font-style: normal;
    font-weight: 500;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #d65108;
    --tenn-tawny-dark: #b54507;

}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height:1.7;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.search-inputs-container{
    min-height: 100vh;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    text-align: center;
}

.search-btn{
    width: 100%;
    width: 90px;
    height: 55px;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    color: #fff;
    background-color: var(--tenne-tawny);
    border: 1px solid var(--tenn-tawny-dark);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.search-bar{
    width: 200px;
    height: 55px;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenn-tawny-dark);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-bar::placeholder{
    color: var(--tenne-tawny);
}
.search-btn:hover{
    background-color: var(--tenn-tawny-dark);
    
}
.meal-result{
    margin-top: 4rem;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem ;
}
.recipe-btn1{
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin:1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    

}

.recipe-btn1:hover{
    background: var(--tenn-tawny-dark);
}
@media screen {
    .food{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin : 0;
    }

}